<ion-view>
	<div class="bar bar-positive bar-header">
		<a class="button button-clear button-light ion-android-arrow-back" href="#/shippingAddress"></a>
		<h1 class="title" translate>Billing Address</h1>
		<div class="buttons">
			<!--<a class="button button-clear ion-ios-search-strong" href="#/menu/search"></a>-->
			<a class="button button-clear ion-bag" href="#/menu/cart"><span class="badge">{{cartTotalItems()}}</span></a>
		</div>
	</div>
	<form class="form" name="$parent.billingForm" ng-submit="addBillingAddress(billingForm)">
	<ion-content class="shipping-panel content-panel has-header has-footer">

			<div class="list list-inset">
				<label class="item item-input">
				  <span class="fa fa-user placeholder-icon" aria-hidden="true"></span>
				  <input type="text" placeholder="{{'First Name'|translate}}" ng-model="orderDetails.billing_firstname" required="required">
				  <span class="fa fa-check-circle success-icon" aria-hidden="true"></span>
				  <span class="fa fa-info-circle danger-icon" aria-hidden="true"></span>
				</label>
				<label class="item item-input">
				  <span class="fa fa-user placeholder-icon" aria-hidden="true"></span>
				  <input type="text" placeholder="{{'Last Name'|translate}}" ng-model="orderDetails.billing_lastname"  required="required" >
				  <span class="fa fa-check-circle success-icon" aria-hidden="true"></span>
				  <span class="fa fa-info-circle danger-icon" aria-hidden="true"></span>
				</label>
				<label class="item item-input">
				  <span class="fa fa-map-marker placeholder-icon" aria-hidden="true"></span>
				  <input type="text" placeholder="{{'Address'|translate}}" ng-model="orderDetails.billing_street_address"  required="required">
				  <span class="fa fa-check-circle success-icon" aria-hidden="true"></span>
				  <span class="fa fa-info-circle danger-icon" aria-hidden="true"></span>
				</label>


				<!--<label class="item item-input">
				  <span class="fa fa-map-o placeholder-icon" aria-hidden="true"></span>
				  <input type="text" placeholder="{{'State'|translate}}"  ng-model="orderDetails.billing_state" required="required">
				  <span class="fa fa-check-circle success-icon" aria-hidden="true"></span>
				  <span class="fa fa-info-circle danger-icon" aria-hidden="true"></span>
				</label>-->
				<!-- <label class="item item-input">
				  <span class="fa fa-phone-square placeholder-icon" aria-hidden="true"></span>
				  <input type="tel" placeholder="{{'Phone'|translate}}" ng-model="orderDetails.billing_telephone" required="required">
				  <span class="fa fa-check-circle success-icon" aria-hidden="true"></span>
				  <span class="fa fa-info-circle danger-icon" aria-hidden="true"></span>
				</label> -->

				<ion-checkbox ng-model="defaultCheckBox" ng-change="defaultAddress(defaultCheckBox)">{{'Same as Shipping Address'|translate}}</ion-checkbox>
				<!--<input type="checkbox" ng-model="defaultCheckBox" ng-change="defaultAddress(defaultCheckBox)" />{{'Default Shipping Address'|translate}}-->
			</div>

	</ion-content>
	<div class="bar bar-footer bar-cstm">
		<button class="button button-block button-royal"  translate>Next</button>
	</div>
			</form>
</ion-view>
