<ion-view view-title="Intro">
    <ion-content class="intro-page text-center">

        <div class="swiper-container intro-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide intro-slide" on-finish-render="ngRepeatFinished">
                    <img class="image" src="img/slides_1.gif" alt="image"/>
                    <span class="icon ion-android-home"></span>
                    <h2 class="title">Anasayfa</h2>
                    <span class="slide-text">Uygulamanın anasayfasında en çok tercih edilen ürünler ve indirimli ürünleri görebilirsiniz.</span>
                    <button type="button" class="button button-outline button-royal" ng-click="startApp()" translate>Atla</button>
                </div>
                <div class="swiper-slide intro-slide" on-finish-render="ngRepeatFinished">
                    <img class="image" src="img/slides_2.gif" alt="image"/>
                    <span class="icon ion-android-list"></span>
                    <h2 class="title">Kategori Sayfası</h2>
                    <span class="slide-text">Herhangi bir kategoride dilediğiniz sıralama tercihini kullanarak görüntleme yapabilirsiniz.</span>
                    <button type="button" class="button button-outline button-royal" ng-click="startApp()" translate>Atla</button>
                </div>
                <div class="swiper-slide intro-slide" on-finish-render="ngRepeatFinished">
                    <img class="image" src="img/slides_3.gif" alt="image"/>
                    <span class="icon ion-android-apps"></span>
                    <h2 class="title">Alışveriş</h2>
                    <span class="slide-text">Ürünü beğendiniz ve almak mı istiyorsunuz? Çok kolay! Uygulama sizi yönlendirsin.</span>
                    <button type="button" class="button button-outline button-royal" ng-click="startApp()" translate>Atla</button>
                </div>
                <div class="swiper-slide intro-slide" on-finish-render="ngRepeatFinished">
                    <img class="image" src="img/slides_4.gif" alt="image"/>
                    <span class="icon ion-android-cart"></span>
                    <h2 class="title">Sepet</h2>
                    <span class="slide-text">Satın almayı düşündüğünüz ama henüz almadığınız ürünleri sepetinizde görebilirsiniz.</span>
                    <button type="button" class="button button-outline button-royal" ng-click="startApp()" translate>Atla</button>
                </div>
                <div class="swiper-slide intro-slide" on-finish-render="ngRepeatFinished">
                    <img class="image" src="img/slides_5.gif" alt="image"/>
                    <span class="icon ion-android-clipboard"></span>
                    <h2 class="title">Siparişlerim</h2>
                    <span class="slide-text">Siparişini verdiğiniz bir ürünün takibini sürükle bırakla güncelleyebilirsiniz.</span>
                    <button type="button" class="button button-outline button-royal" ng-click="startApp()" translate>Hadi Başlayalım!</button>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <!--<div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>-->
        </div>
    </ion-content>
</ion-view>
