 <ion-view view-title="{{'Thank You'|translate}}" ng-init="logOut()">
     <div class="bar bar-positive bar-header">
    	<h1 class="title" translate>Thank You</h1>
    	<div class="buttons">
        	<a class="button button-clear ion-android-close" ui-sref="menu.home"></a>
        </div>
    </div>
	<ion-content class="thankyou-panel content-panel has-header">
		<div class="card">
			<div class="item item-text-wrap">
				<span class="fa fa-check-circle" aria-hidden="true"></span>
				<h2 class="item-title" translate>Thank You</h2>
				<span class="item-detail" translate>Thank you for shopping with us.</span>
				<button class="button button-block button-royal" ui-sref="menu.myOrders" translate>My Orders</button>
				<a class="button button-clear button-block button-assertive" ui-sref="menu.home" translate>Continue Shopping</a>
			</div>
			
		</div>
	</ion-content>
 </ion-view>