<ion-modal-view>
    <div class="bar bar-positive bar-header">
         <div class="buttons">
        <a class="button button-clear button-light ion-android-arrow-back" ng-click="hideModal('updateShipping')"></a>
         </div>
        <h1 class="title" translate>Shipping Address</h1>
    </div>

    <ion-content class="shipping-panel content-panel has-header" ng-controller="updateShippingAddressController">

        <form class="form" name="shippingForm">

            <div class="list list-inset">

                <label class="item item-input">
                	<span class="fa fa-user placeholder-icon" aria-hidden="true"></span>
                    <input type="text" placeholder="{{'First Name'|translate}}" ng-model="shippingData.entry_firstname" name="entry_firstname" required="required">
                </label>
                <label class="item item-input">
                	<span class="fa fa-user placeholder-icon" aria-hidden="true"></span>
               		<input type="text" placeholder="{{'Last Name'|translate}}" ng-model="shippingData.entry_lastname" name="entry_lastname" required="required">
                </label>
                <label class="item item-input">
                	<span class="fa fa-map-marker placeholder-icon" aria-hidden="true"></span>
                	<input type="text" placeholder="{{'Address'|translate}}" ng-model="shippingData.entry_street_address" name="entry_street_address" required="required">
                </label>

                

                <button class="button button-block button-royal" ng-click="updateShippingAddress(shippingForm)" ng-if="showButton" translate>Update Address</button>
                <button class="button button-block button-royal" ng-click="addShippingAddress(shippingForm)" ng-if="!showButton" translate>Save Address</button>
            </div>

        </form>
    </ion-content>
</ion-modal-view>
